apiVersion: chaos-mesh.org/v1alpha1
kind: NetworkChaos
metadata:
  name: latency-{{ target_node }}
  namespace: chaos-mesh
spec:
  action: delay
  mode: all
  selector:
    namespaces:
      - default
    labelSelectors:
      app: "{{ target_node }}"
  delay:
    latency: "{{ magnitude | int }}ms"
    correlation: "0"
    jitter: "0ms"
  duration: "{{ (duration_ticks | int) * 10 }}s"
